main{
    width: 80%;
    background-color: var(--cinza);
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--claro);
    border-radius: 1.5rem;
    margin: 2rem 12rem;
}

.conteudo h2{
    font-size: 2.4rem;
    margin-top: 2.5rem;
}

.conteudo img{
    border-radius: 1.5rem;
    width: 75rem;
    height: 40rem;
}

.conteudo p {
    font-size: 1.6rem;
    padding: 1.5rem;
}

/*=================================responsividade 400px ==============================*/

@media (max-width: 400px){
    main{
        width: 100%;
    }
    .conteudo{
        margin: 2rem 2rem;
    }

    .conteudo img{
        height: 50%;
        width: 90%;
    }
}
/* ----------------------------------responsividade=450px------------------------------------------- */
@media (max-width: 450px){
    main{
        width: 100%;
    }

    .conteudo{
        margin: 2rem 2rem;
    }

    .conteudo img {
        height: 50%;
        width: 80%;
    }

}
/* ----------------------------------responsividade=1024px------------------------------------------- */
@media (max-width: 1024px){
    main{
        width: 100%;
    }

    .conteudo{
        margin: 2rem 2rem;
    }

    .conteudo img {
        height: 50%;
        width: 80%;
    }

}
/* ----------------------------------responsividade=1440px------------------------------------------- */
@media (max-width: 1440px){
    main{
        width: 100%;
    }

    .conteudo{
        margin: 2rem 2rem;
    }

    .conteudo img {
        height: 50%;
        width: 80%;
    }

}

