
.footer{height: 8rem;
    width: 80%;
background-color: var(--escuro);}

/*=====================================responsividade==============================================*/

@media (max-width: 400px){
    .footer {
        width: 100%git;
    }
}