
.footer{height: 8rem;
    width: 80%;
background-color: var(--escuro);}

/*=====================================responsividade=400px==============================================*/

@media (max-width: 400px){
    .footer {
        width: 100%git;
    }
}
/* ----------------------------------responsividade=450px------------------------------------------- */
@media (max-width: 450px) {
    .footer{
        width: 100%;
    }
}
/* ----------------------------------responsividade=1024px------------------------------------------- */
@media (max-width: 1024px) {
    .footer{
        width: 100%;
    }
}
/* ----------------------------------responsividade=1440px------------------------------------------- */
@media (max-width: 1440px) {
    .footer{
        width: 100%;
    }
}